bin
Bin
BIN
obj
Obj
OBJ
debug
Debug
DEBUG
release
Release
RELEASE

*.orig
*.ncb
*.obj
*.suo
*.user
*.swp
*.*~
_Re*
*.userprefs
*.pidb
*.zip
test-results/*
*.dotCover
*.nupkg
test-results

*.ncrunchproject
*.ncrunchsolution
_NCrunch_*
/*.cache
*.DS_Store
*.DotSettings.user
*.sdf
*.mdf
*.ldf
CroMagVersion.cs
